extends layout

block content
  h1= title
  button.btn(onClick = "jQuery.get('/updateGallery' , function(data){alert(data);})", type = "button") 
    i.icon-refresh

  button.btn(onClick = 'alert("Not implemented")' , type = "button") 
    i.icon-circle-arrow-down
  button.btn(onClick = 'alert("Not implemented")' , type = "button") 
    i.icon-eject

  ul.thumbnails
      for image , i in data
        li.span4
            div.thumbnail
                //img(src="/preview?image=" +  '#{i}' , href="/image?image=" + '#{i}', style="-moz-transform: rotate(#{image.orientation}deg);")
                a(href="/image?image=" + '#{i}')
                    img(src="/preview?image=" +  '#{i}' )
                h3 #{image.name}
                table.table
                    tbody
                        tr
                            td Kamera
                            td #{image.camera}
                        tr 
                            td Aufnahme Zeitpunkt
                            td #{image.timestamp}
                        tr 
                            td Ordner
                            td #{image.path}
        